/* General styles for the slider */
#slider {
    position: fixed;
    z-index: 9999; /* Reduced z-index for better management */
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: cornflowerblue;
    overflow-y: auto;
    transition: width 0.4s;
}

/* Styles for slider child elements */
#sheader, #sfooter {
    position: sticky;
    background-color: #052536;
    text-align: center;
    z-index: 5;
    box-shadow: 0 0 5px #052536;
}

#sheader {
    top: 0;
    padding: 20px;
}

#sfooter {
    bottom: 0;
    box-shadow: 0 0 10px #052536;
}

#sheader h1, #sfooter h2 {
    color: white !important;
}

#sbodycontainer {
    color: white;
}

/* Button styles */
#extractBtn, #savepdf, .internal_button {
    border-radius: 4px;
    background-color: #0077b5;
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 200px;
    transition: background-color 0.5s, border 0.5s;
    cursor: pointer;
    margin: 5px;
    opacity: 0.8;
    position: relative;
}

#extractBtn:hover, #savepdf:hover, .internal_button:hover {
    background-color: #035b8a;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
}

.internal_button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    text-decoration: none;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.internal_button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.sticky_buttons {
    position: sticky;
    display: block;
    font-size: 16px;
    margin: 15px 25px 0 15px;
}

/* Deepscan styles */
#deepscancontainer {
    position: sticky;
    z-index: 5;
}

#deepscan {
    padding: 10px;
    opacity: 1 !important;
}

#deepscanlabel {
    color: white;
    padding: 15px;
    border: 1px solid rgb(100, 237, 223);
}

/* Textarea styles */
textarea {
    margin: 1px;
    padding-right: 20px;
    border: 2px solid black;
    height: 250px;
}

textarea:hover {
    background-color: rgb(178, 197, 231);
    border: 2px solid rgb(27, 15, 49);
}
