<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ext13</title>
    <link rel="stylesheet" href="../css/popup.css">
</head>
<body>
    <header>
        <h1>Extract Profile</h1>
    </header>
    <main>
        <section>
            <p><span id="ref-msg"><em>Please refresh the webpage for changes to take effect.</em></span></p>
            <br>
            <p>To extract a profile, click on the "Extract" button on the bottom right of the window.</p>
            <p>To properly extract the details, click on the "Show more" buttons of each section (Education, Certifications, etc.) before you press Extract. You can press the Extract button as many times as you like.</p>
        </section>
    </main>
    <footer>
        <!-- scripts section below -->
        <script type="module" src="../scripts/popup.js"></script>
        <!-- scripts section ends here -->
    </footer>
</body>
</html>
